body {
    font-weight: 800;
}

ol {
    list-style: upper-roman;
}

.red-text {
    color: red;
    font-weight: bold;
}

.orange-text {
    color: orange;
    font-weight: bold;
}

.green-text {
    color: green;
    font-weight: bold;
}

#photoshop-list {
    list-style-type: lower-alpha; /* Устанавливаем тип нумерации: строчные буквы (a, b, c...) */
    list-style-position: inside; /* Опционально: позволяет цифре быть ближе к тексту */
}